.custom-alert{
  position: absolute;
  z-index: 1;
  display: flex;
  background-color: #000;
  padding: 10px;
  right: 0;
  border-radius: 10px;
  align-items: center;
  color: #fff;
  opacity: 0.8;
}

.title{
  background-color: beige;
  padding: 5px 50px;
  border-radius: 10px;
  margin-top: 22px;
  display: inline;
}